.header {
    background-color: #2e948a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.header img {
    max-width: 180px;
    height: auto;
}

.header ul {
    display: flex;
    list-style: none;
}

.header ul li {
    padding: 20px;
}

.header ul li a {
    text-decoration: none;
    color: #E5E5E5;
    font-weight: 700;
}

